
.EmployersList {
    width: 300px;
    height: 330px;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin: 50px;*/
    padding: 5px;
}

.red {
    color: darkred;
}

.green {
    color: darkgreen;
}

.normalColor {
    color: darkblue;
}
