
html {
  height: 100%;

}
body {
  margin: 0;
  min-height: 90%;
  background: #e3e3f3;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  background: #adadf1;
}
header a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}
header a:hover {
  /*font-size: 1.1em;*/
  transition: 0.5s;
}
.right{
  width: auto;
  text-align: right;
}

.footer {
  display: grid;
  margin-top: 100px;
  padding: 0;
  background-color: #aaa2b2;
  /* Позиционируем footer внизу main */
  /*position: absolute;*/
  bottom: 0;
  width: 100vw;
  /* Высота footer */
  height: 50px;
  text-align: center;
  vertical-align: middle;
}
.no-scroll::-webkit-scrollbar {
  width: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  /*margin: 20px 20px ;*/
}

.App-Route a {
  margin: auto 10px;
}

.App-Route a:visited {
  color: white;
}
.App-Route a:hover {
  color: black;
}

.App-Header {
  background-color: darkslateblue;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-Route {
  margin-bottom: 10px ;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

